<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vendors List</title>
  <link href="~/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>

@using VOTracker.Models;

  <h2>Vendor:</h2>

    <div class="vendorsDisplay">
    
    @{
    
      <div class="vendorDiv" id="vendor@Model.Id" style="margin: 5px; border-style: 1px solid">
      <ul><h2>@Model.Name</h2>
          <li>Description: @Model.Description</li>
          <li>Vendor Id: @Model.Id</li>
          <li>Current Orders:<ul>

          <!-- 05/21/22: Use C# in the HTML doc, use methods to grab lists, use loop to write each item in their own div below-->

                  @{List<Order> specificOrders = Order.GetOrders();

                    @foreach(Order item in specificOrders)
                    {

                      @if (item.VendorId == Model.Id)
                      {
                        <div class="ordersUnderVendor" style="margin-bottom: 3px;">
                          <li>Order name: <a href="~/orders/show/@item.Id">@item.Name</a>, Order ID: @item.Id</li>
                        </div>
                      }
                    }
                  }
              </ul>
          </li>
        </ul>
      </div>
      }
    </div>

  <div class="spacer" style="height: 20px"></div>

  <a href="/orders"><button>Go To Orders Page</button></a>
  <a href="/vendors"><button>Go to Vendor Page</button></a>
  <a href="/vendors/new"><button class="newV">Add new vendor</button></a>
  <a href="/"><button class="home">Home</button></a>

</body>
</html>