<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ordering Page</title>
  <link href="~/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
@using VOTracker.Models;

@{

  <h2>Welcome to the Ordering portal.</h2>

  @if (Vendor.ListTotalVendors.Count == 0)
  {

    <h3>I'm sorry: there are no vendors to supply orders. Please go to the Vendors Page and provide a Vendor before making an order.</h3>

    <a href="/vendors/new"><button class="newV">Add new vendor</button></a>
    <a href="/vendors"><button>Go to Vendor Page</button></a>
    <a href="/"><button class="home">Home</button></a>

  }
  else if (Model.Count == 0)
  {
    <h3 style="color: green;">There are no orders placed yet.</h3>
    <h3>Start your order below!</h3>

    <a href="/orders/new"><button class="order">Make an order now.</button></a>
    <a href="/vendors"><button>Go to Vendor Page</button></a>
    <a href="/"><button class="home">Home</button></a>

  }
  else
  {

    <div class="ordering-portal" style="display: flex;">
          @{
              List<Vendor> getVendors = Vendor.GetAll();
              @foreach(Vendor vendor in getVendors)
              {
                <div class="sortOrderByVendor" style="
                    display: flex;
                    flex-direction: column;
                    margin: 0rem 1rem 0rem 1rem;
                    padding: 1rem;
                    border: 1px solid;
                    width: 15vw;
                    word-wrap: break-word;
                ">

                    <h3>Orders for <span id="vendorNameSpan" style="
                        color: green;
                        font-size: 1.2rem;
                    ">@vendor.Name</span>:</h3>

                    @foreach(Order order in Model)
                    {
                       @if (order.VendorId == vendor.Id)
                        {
                          <div class="orderDiv" id="@order.Id">
                                <ul style="padding: 0; margin: 0;"><a href="/orders/show/@order.Id">@order.Name</a> - Id: @order.Id
                                    <!-- Get list of vendors and use SelectVendor to match the order.VendorId to the vendor.Id, and abstract the vendor.Name -->
                                    @* @{ Vendor vend = Vendor.SelectVendor(order.VendorId);
                                      <li style="list-style: none;">Vendor: @vend.Name</li>
                                    } *@
                                </ul>
                          </div>
                        }
                    }
                </div>
              }
          }
    </div>

    <div class="spacer" style="height: 20px"></div>

    <a href="/orders/new"><button class="order">Make an order now.</button></a>
    <a href="/vendors"><button>Go to Vendor Page</button></a>
    <a href="/"><button class="home">Home</button></a>
    
  }
}
</body>
</html>