<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modeling Page</title>
  <link href="~/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
@using VOTracker.Models;

@{
    DateTime timestamp = DateTime.Now;

    <div class="vendorDiv" id="@Model.Id" style="margin: 2px; bModel-style: 1px solid">
        <ul>
              <h4>@Model.Name</h4>
              <li>Description: @Model.Description</li>
              <li>Order Id: @Model.Id</li>
              <li>Price: @Model.Price</li>
              <li>Order Date: @timestamp</li>

              <!-- Get list of vendors and use SelectVendor to match the Model.VendorId to the vendor.Id, and abstract the vendor.Name -->
              @{ Vendor vend = Vendor.SelectVendor(Model.VendorId);
                <li>Vendor: <a href="/vendors/show/@Model.VendorId">@vend.Name</a></li>
              }
        </ul>
    </div>

    <div class="spacer" style="height: 20px"></div>
    <a href="/orders"><button>Go To Orders Page</button></a>
    <a href="/"><button class="home">Home</button></a>

}
</body>
</html>